@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;500;700&family=Varela+Round&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.-z-1 {
  z-index: -1;
}

.nuxt-content h2 {
  display: table;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @apply text-2xl font-medium font-quicksand;
}

.nuxt-content h2::after {
  content: ' ';
  width: 80%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid;
  @apply border-teal-600;
}

.nuxt-content h3 {
  display: table;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @apply text-xl font-medium font-quicksand;
}

.nuxt-content h3::after {
  content: ' ';
  width: 80%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 2px solid;
  @apply border-gray-600;
}

.nuxt-content p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  @apply font-medium text-justify font-quicksand;
}

.nuxt-content pre {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  background-color: #30495e !important;
  @apply rounded-md py-6 px-3 my-3;
}

.nuxt-content a {
  @apply transition duration-150 ease-in-out text-teal-600 font-semibold font-quicksand;
}

.nuxt-content a:hover {
  @apply text-teal-800 underline;
}

.nuxt-content ol {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.nuxt-content ol li {
  list-style: decimal;
  @apply ml-6 font-medium font-quicksand text-sm;
}

.nuxt-content ul {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.nuxt-content ul li {
  list-style: disc;
  @apply ml-6 font-medium font-quicksand text-sm;
}

.nuxt-content img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nuxt-content blockquote {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-left: #718096 solid 6px;
  @apply font-medium font-quicksand bg-gray-200 px-2 py-4 shadow-inner;
}

.nuxt-content hr {
  @apply -mx-4 my-4;
}